	<div id="titre-content" class="container">
		<span>Les meilleurs scores de NAVIS, :</span>
	</div>
	<div class="container">
		<div class="row">
			<div class="panel panel-default" id="tableau">
				<table class="table table-fixed ">
					<thead>
						<tr>
							<th class="col-xs-2">#</th>
							<th class="col-xs-8">Name</th>
							<th class="col-xs-2">Points</th>
						</tr>
					</thead>
					<tbody id="contenu-commu">
						
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<script src="../assets/scripts/menu-selector.js"></script>