<div class="container">
	<div class="row content-ajax" id="div-galerie">
		<!-- 			<div id="titre-content" class="container"> -->
		<!-- 				<span>Classement</span> -->
		<!-- 			</div> -->
		<table id="table-galerie">

			<tbody id="contenu-galerie">
				<tr>
					<td><img src="../assets/images/wingship.png" alt=""></td>
					<td>
						PRÒSKOPOS</br>
						Ces vaisseaux sont les éclaireurs alien : ils voyagent en petit groupe à la recherche de leurs ennemis.</br>
						Lorsque qu'ils en rencontrent un, certains attaquent alors que d'autres partent prévenir leurs supérieurs.</br>
						Ces ennemis sont relativement faibles : ils sont simple à détruire, et leurs missiles sont lents et facile à éviter, mais
						leurs dégâts sont conséquent, attention à ne pas se laisser surprendre lorsque qu'ils sont accompagnés d'autres ennemis.
					</td>
				</tr>
				<tr>
					<td><img src="../assets/images/ennemi.png" alt=""></td>
					<td>
						STÒLOS</br>
						Ils constituent l'atout principal de la flotte alien.</br>
						Construit en très grand nombre, ils vous paraîtront venir par vagues infinies.</br>
						Ils ne se déplacent que très rarement seuls, mais leurs attaquent gagneront en intensité au fur et à mesure que vous détruirez
						les autres STÒLOS.</br>
						De ce fait, bien que peu mobile, et ne faisant que peu de dégats, leur vitesse peu rapidement devenir très élevée.</br>
						Attention donc à bien gérer vos priorités en présence de ces ennemis.
					</td>
				</tr>
				<tr>
					<td><img src="../assets/images/evilboss2.png" alt=""></td>
					<td>
						ALOGÀKI</br>
						L'objectif de cet ennemi, est de vous détruire coûte que coûte.</br>
						N'étant pas armé, leur seul moyen d'y parvenir est de vous rentrer dedans.</br>
						Ils sont donc très rapide, causent des dégats importants, et ne vous lacheront qu'à leur déstruction, ou en se perdant dans
						l'espace.
						</br>
						Ils sont aussi capable de changer de direction extremment rapidement afin de vous surprendre.</br>
						Très faible individuellement car très fragile, ils arrivent toujours en grand nombre afin de palier à leur faiblesse.
					</td>
				</tr>
				<tr>
					<td><img src="../assets/images/enemyMotherDrone.png" alt=""></td>
					<td>
						DIMIOURGÒS</br>
						Un vaisseau qui peu paraître pacifique car il ne vous attaquera jamais directement, mais il n'est pas à sous-estimer.</br>
						Très peu mobile, mais très résistant, il contient un stock de pièce conséquent lui permettant de fabriquer des drones à la
						chaîne.</br>
						Drones qu'il enverra en combat dès qu'un autre sera détruit.</br>
						Il ne se déplace que très rarement en groupe car suffisemment puissant à lui seul.</br>
					</td>
				</tr>
				<tr>
					<td><img src="../assets/images/roundysh.png" alt=""></td>
					<td>
						KIFÌNAS</br>
						Le drone fabriqué par le DIMIOURGÒS.</br>
						Il fonctionne de manière complétement automatique.</br>
						Son programme lui permet de suivre son ennemi sans relache et de lui tirer régulièrement dessus.</br>
						Plutôt faible car peu résistant et ne causant que peu de dégats, sa taille et son remplacement continue peuvent rapidement
						devenir un problème.
					</td>
				</tr>
				<tr>
					<td><img src="../assets/images/enemyBoss.png" alt=""></td>
					<td>
						EPIKEFALÌS</br>
						Un des vaisseau mère de la flotte alien, il commande une partie des troupes et coordonne les attaques.</br>
						Extremment puissant, extremment résistant, mais peu mobile.</br>
						Il sera très souvent accompagné d'autres vaisseaux pour augmenter sa force de frappe.</br>
						Une de ses attaques permet de couvrir la zone de combat de projectiles limitant ainsi grandement les déplacements.</br>
						Son autre attaque est une rafale de tirs très puissante.</br>
						Il peut aussi combiner ses 2 attaques pour augmenter ses chances de vous toucher et de vous détruire.
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>


<script src="../assets/scripts/menu-selector.js"></script>