#div-accueil{
  display: block;
}

#img-accueil{
  max-width: 100px;
 /* max-height: 200px;*/
  padding: 2%;
  background-color: green;
}
.text-accueil{
  text-align: right;
  background-color: yellow;
}
#div-pilotes{
/*   background-color: red; */
  margin: 2%;
}
